# Exploratory Data Analysis

In [1]:
#load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#from google.colab import files
#uploaded = files.upload()

In [3]:
data = pd.read_csv("data_clean.csv")
data.head(10)

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S
5           6   28.0      NaN  14.9     66     5    6  2010    66       C
6           7   23.0    299.0   8.6     65     5    7  2010    65      PS
7           8   19.0     99.0  13.8     59     5    8  2010    59       C
8           9    8.0     19.0  20.1     61     5    9  2010    61      PS
9          10    NaN    194.0   8.6     69     5   10  2010    69       S

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [5]:
# box=data.boxplot(figsize=(5,5))

In [6]:
data

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [7]:
data.tail(10)

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
148         149   30.0    193.0   6.9     70     9   26  2010    70       C
149         150    NaN    145.0  13.2     77     9   27  2010    77      PS
150         151   14.0    191.0  14.3     75     9   28  2010    75       S
151         152   18.0    131.0   8.0     76     9   29  2010    76      PS
152         153   20.0    223.0  11.5     68     9   30  2010    68       S
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

In [8]:
#Data Structure
print(type(data))
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(158, 10)

In [9]:
data.shape[1]

10

In [10]:
#data types
data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [11]:
data.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

# Data type conversion

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [14]:
data['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [15]:
data['Month']=pd.to_numeric(data['Month'],errors='coerce') #[1,1.5,NAN] january NA
data['Temp C']=pd.to_numeric(data['Temp C'],errors='coerce')# coerce will introduce NA values for non numeric data in the columns
data['Weather']=data['Weather'].astype('category')           #data['Wind']=data['Wind'].astype('int64')

In [16]:
data.dtypes

Unnamed: 0       int64
Ozone          float64
Solar.R        float64
Wind           float64
Temp C         float64
Month          float64
Day              int64
Year             int64
Temp             int64
Weather       category
dtype: object

In [26]:
data['Year'].unique()

array([2010])

####More on data type conversions
[link text](https://stackoverflow.com/questions/15891038/change-column-type-in-pandas)

In [ ]:
data1=data.drop(['Unnamed: 0','Year','Temp C'], axis = 1)
data1

In [ ]:
data1.duplicated()

In [ ]:
#Print the duplicated rows
data1[data1.duplicated(keep=False)]

In [ ]:

data_cleaned1=data1.drop_duplicates()

In [ ]:
help(data1.duplicated)

In [ ]:
data_cleaned1.info()

In [ ]:
data_cleaned1[data_cleaned1.duplicated()]

# Duplicates

In [25]:
data[data.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Ozone, Solar.R, Wind, Temp C, Month, Day, Year, Temp, Weather]
Index: []

In [20]:
#Count of duplicated rows
data[data.duplicated()].shape[0]

0

In [ ]:
data.columns[data.columns.duplicated()]   #to check duplicated columns

In [28]:
data_cleaned1=data.drop_duplicates()
#data.drop_duplicates(inplace=True)|

In [29]:
data_cleaned1.tail()

data_cleaned1.reset_index(inplace=True)

In [30]:
data_cleaned1

,index,Unnamed: 0,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather
0,0,1,41.0,190.0,7.4,67.0,5.0,1,2010,67,S
1,1,2,36.0,118.0,8.0,72.0,5.0,2,2010,72,C
2,2,3,12.0,149.0,12.6,74.0,5.0,3,2010,74,PS
3,3,4,18.0,313.0,11.5,62.0,5.0,4,2010,62,S
4,4,5,NaN,NaN,14.3,56.0,5.0,5,2010,56,S
...,...,...,...,...,...,...,...,...,...,...,...
153,153,154,41.0,190.0,7.4,67.0,5.0,1,2010,67,C
154,154,155,30.0,193.0,6.9,70.0,9.0,26,2010,70,PS
155,155,156,NaN,145.0,13.2,77.0,9.0,27,2010,77,S
156,156,157,14.0,191.0,14.3,75.0,9.0,28,2010,75,S
157,157,158,18.0,131.0,8.0,76.0,9.0,29,2010,76,C

# Drop columns

In [33]:
data_cleaned1.drop(['Unnamed: 0','index','Temp C','Year'],axis=1,inplace=True)

Index([], dtype='object')

In [ ]:
#data_cleaned2=data_cleaned1.drop('Temp C',axis=1)
#data_cleaned1.drop('Temp C',axis=1,inplace=True)
#data_cleaned1.drop('Year',axis=1,inplace=True)

In [34]:
data_cleaned1

     Ozone  Solar.R  Wind  Month  Day  Temp Weather
0     41.0    190.0   7.4    5.0    1    67       S
1     36.0    118.0   8.0    5.0    2    72       C
2     12.0    149.0  12.6    5.0    3    74      PS
3     18.0    313.0  11.5    5.0    4    62       S
4      NaN      NaN  14.3    5.0    5    56       S
..     ...      ...   ...    ...  ...   ...     ...
153   41.0    190.0   7.4    5.0    1    67       C
154   30.0    193.0   6.9    9.0   26    70      PS
155    NaN    145.0  13.2    9.0   27    77       S
156   14.0    191.0  14.3    9.0   28    75       S
157   18.0    131.0   8.0    9.0   29    76       C

[158 rows x 7 columns]

# Rename the columns

In [ ]:
#rename the Solar column
#data_cleaned3 = data_cleaned2.rename({'Solar.R': 'Solar','Temp':'Temperature'}, axis=1)
data_cleaned1.rename({'Solar.R': 'Solar','Temp':'Temperature'}, axis=1,inplace=True)

In [ ]:
data_cleaned1

# Missing Values and Imputation

In [ ]:
data_cleaned1.isnull().sum()  ####to find num of null values in each column

In [ ]:
import seaborn as sns
sns.color_palette()

In [ ]:
help(sns.heatmap)

In [ ]:
import seaborn as sns
cols = data_cleaned1.columns
colours = ['blue', 'yellow']#specify the colours - yellow is missing. blue is not missing.
sns.heatmap(data_cleaned1[cols].isnull(),
            cmap=colours)

data_of_nulls = data_cleaned3[cols].isnull()
column_names = list(data_of_nulls.columns)


for i in column_names:
    if True in list(data_of_nulls[i]):
        print(i)

In [ ]:
data_cleaned1.isnull().sum().sum()

In [ ]:
data_cleaned1[data_cleaned1.isnull().any(axis=1)]

In [ ]:
data_cleaned2=data_cleaned1.dropna()

In [ ]:
data_cleaned2.shape

In [ ]:
data_cleaned2.isnull().sum()

In [ ]:
data_cleaned1.Ozone.plot(kind='box')

In [ ]:
data_cleaned1.Solar.plot(kind='box')

In [ ]:
#rename the Solar column
#data_cleaned4 = data_cleaned1.rename({'Solar.R': 'Solar'}, axis=1)

In [ ]:
#data_cleaned4.info()

In [ ]:
#imputing the null values

# replacing the null values with median of the column

oz_med=data_cleaned1.Ozone.median()

data_cleaned1['Ozone']=data_cleaned1['Ozone'].fillna(oz_med)

In [ ]:
data_cleaned1.Ozone.median()

In [ ]:
data_cleaned1.info()

In [ ]:
#Mean Imputationa
mean = data_cleaned1['Solar'].mean()
print(mean)

data_cleaned1['Solar']=data_cleaned1['Solar'].fillna(mean)

In [ ]:
data_cleaned1.info()

In [ ]:
data_cleaned1.isnull().sum()

In [ ]:
data_cleaned1.Month.value_counts().plot(kind='bar')

In [ ]:
data_cleaned1.Weather.value_counts().plot(kind='bar')

In [ ]:
data_cleaned1.Weather.mode()[0]

In [ ]:
mode_weather=data_cleaned1.Weather.mode()[0]
mode_weather

In [ ]:
data_cleaned1['Weather']=data_cleaned1.Weather.fillna(mode_weather)

In [ ]:
data_cleaned1.isnull().sum()

In [ ]:
data_cleaned1.dropna(inplace=True)

In [ ]:
#help(data.dropna)

In [ ]:
#Bar plot
data_cleaned1['Weather'].value_counts().plot(kind="bar")

# Outlier Detection

In [ ]:
# histogram of Ozone
data_cleaned1['Ozone'].hist()

In [ ]:

plt.boxplot(data_cleaned1['Ozone'])

In [ ]:
#dir(data_box)

In [ ]:
#Extracting outliers
box=plt.boxplot(data_cleaned1['Ozone'])

In [ ]:
for i,j in box.items():
  print(i,j)

In [ ]:
out=[]
for item in box["fliers"]:
    out.append(item.get_ydata())

out

In [ ]:
[item.get_ydata() for item in box['fliers'] ]  #fliers are outliers

In [ ]:
#To get the whiskers
[item.get_ydata()[1] for item in box['whiskers']]

In [ ]:
[item.get_ydata() for item in box['boxes']]

In [ ]:
#Descriptive stat
data_cleaned1['Ozone'].describe()

In [ ]:
data_cleaned1.loc[(data_cleaned1.Ozone<1) | (data_cleaned1.Ozone>80)]

In [ ]:
#data.isnull().sum()

In [ ]:
#data_cleaned1.loc[data_cleaned1.Ozone>80]=80

In [ ]:
data_cleaned1.loc[data_cleaned1.Ozone>80,"Ozone"]=80

In [ ]:
data_cleaned1.describe()

In [ ]:
plt.boxplot(data_cleaned1["Ozone"])

In [ ]:
plt.boxplot(data_cleaned1["Wind"])

In [ ]:
box_wind=plt.boxplot(data_cleaned1['Wind'])
[item.get_ydata()[1] for item in box_wind['whiskers']]  ##16.6

In [ ]:
data_cleaned1.loc[data_cleaned1.Wind>16.6,"Wind"]=16.6

# Scatter plot and Correlation analysis

In [ ]:
plt.scatter(data_cleaned1.Ozone,data_cleaned1.Wind)

In [ ]:
# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
#pd.plotting.scatter_matrix(data_cleaned3)
sns.pairplot(data_cleaned1)

In [ ]:
#Correlation
df_num=data_cleaned1.iloc[:,:-1]
df_num.corr(method='pearson')

In [ ]:
sns.heatmap(df_num.corr(),annot=True)

# Transformations

#### Dummy Variable

In [ ]:
#data_cleaned3.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
#Creating dummy variable for Weather column
data_cleaned1=pd.get_dummies(data_cleaned1,dtype=int)
data_cleaned1

#### Feature Scaling

In [ ]:
def get_stand(x):

    return ((x-x.mean())/x.std())

In [ ]:
x=pd.Series([1500,1000,1200,1350,4400,500,300,200])

get_stand(x)

In [ ]:
stand_data=get_stand(data_cleaned1)
stand_data.head()

In [ ]:
def get_norm(x):
    return (x-x.min())/(x.max()-x.min())

In [ ]:
x=pd.Series([15,10,12,13.5,40,50,30,29])

get_norm(x)

In [ ]:
norm_data=get_norm(data_cleaned1.Ozone)
norm_data.head()

In [ ]:
#Normalization of the data
#from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [ ]:
data_cleaned1.values

In [ ]:
array = data_cleaned1.values

scaler = MinMaxScaler()
rescaledX = scaler.fit_transform(array)

#transformed data
#set_printoptions(precision=2)
print(pd.DataFrame(rescaledX))

In [ ]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler

In [ ]:
array = data_cleaned1.values
scaler = StandardScaler()
rescaledX=scaler.fit_transform(array)


# summarize transformed data
#set_printoptions(precision=2)
print(rescaledX[0:5,:])

In [ ]:
import numpy as np
data_cleaned1.head()
data_cleaned1["log_ozone"]=np.log(data_cleaned1.Ozone)
data_cleaned1.head()

In [ ]:
data.Ozone.plot(kind="hist")

In [ ]:
data_cleaned1.log_ozone.plot(kind="hist")

# Speed up the EDA process

In [ ]:
!pip install pandas-profiling==3.1.0
!pip install ydata_profiling
!pip install sweetviz

In [ ]:
import pandas as pd
data=pd.read_csv("data_clean.csv")

In [ ]:
from pandas_profiling import ProfileReport
import ydata_profiling as pp

profile=ProfileReport(data, title="Exploratory Data Analysis")

# Generate the report as an HTML file
profile.to_file("report.html")

In [ ]:
!pip install sweetviz

In [ ]:
#import pandas_profiling as pp
import sweetviz as sv
sweet_report = sv.analyze(data)
sweet_report.show_html('weather_report.html')

In [ ]:
dict1={'a':[1,2,3,3,3],'b':[2,3,4,3,3],'c':[5,6,7,3,3]}

In [ ]:
df=pd.DataFrame(dict1)

In [ ]:
df

In [ ]:
df[df.duplicated()]

In [ ]:
df1=df.drop_duplicates()

In [ ]:
df1

In [ ]:
df

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df